<div class="comment-#{@comment.id}">
<div class="col-sm-12 panel">

<%= form_for [@ticket, @new_comment], remote: true do |f| %>

  <div class="field">
    <%= f.label :body, "New Comment" %><br />
    <%= f.text_area :body, :class => 'form-control' %>
  </div>
  <div class="actions">
    <%= f.submit "Add Comment", :class => 'btn btn-primary btn-md pull-right', :remote => true %>
  </div>

<% end %>
</div>
</div>
