<div class="dash-nav">
  <div class="container">
    <div class="row">
        <div class="btn-group btn-group-sm" role="group" aria-label="...">
          <%= link_to 'Dashboard', admin_dashboard_path, :class => 'btn btn-primary', id: 'tooltip-dashboard', data: {toggle: 'tooltip', placement: 'bottom'}, :'data-original-title' => 'Dashboard, the home of home.' %>
          <%= link_to 'Users', admin_users_path, :class => 'btn btn-primary', id: 'tooltip-users', data: {toggle: 'tooltip', placement: 'bottom'}, :'data-original-title' => 'Add, Modify, or Delete Users' %>
          <%= link_to 'Invitations', admin_invitations_path, :class => 'btn btn-primary', id: 'tooltip-invites', data: {toggle: 'tooltip', placement: 'bottom'}, :'data-original-title' => 'Invite a Friend!' %>
          <%= link_to 'Ticket System', tickets_path, :class => 'btn btn-primary' %>
        </div>
    </div>
  </div>
</div>
