<div class="container">
  <div class="row">
    <h3><%= @user.name if @user.name %></h3>
    <div class="panel">
      <p>Name: <%= @user.name if @user.name %></p>
      <p>Email: <%= @user.email if @user.email %></p>
    </div>
  </div>
</div>
