<% provide(:title, 'Progressor Features') %>

<% provide(:jumbotron, '
      <h1>Glyphicons and Tooltip</h1>
      <p>Used as a Glyphicons personal reference</p>
      <p>Tooltips javascript call is in /app/assets/javascripts/</p>
      <p><a class="btn btn-primary btn-lg" role="button">Get Involved</a></p>
  '.html_safe)%>
<div class="container">




</div>
