<% provide(:title, '') %>
<% content_for :body_class, "home" %>
<% provide(:jumbotron, '
      <h1>Glyphicons and Tooltip</h1>
      <p>Used as a Glyphicons personal reference</p>
      <p>Tooltips javascript call is in /app/assets/javascripts/</p>
      <p><a class="btn btn-primary btn-lg" role="button">Get Involved</a></p>
  '.html_safe)%>


  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <div class="service-main">
          <h2>Donec id</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-primary btn-lg" href="#" role="button">View details &raquo;</a></p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="service-main">
          <h2>Donec id</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-primary btn-lg" href="#" role="button">View details &raquo;</a></p>
        </div>
     </div>
      <div class="col-md-4">
        <div class="service-main">
          <h2>Donec id</h2>
          <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
          <p><a class="btn btn-primary btn-lg" href="#" role="button">View details &raquo;</a></p>
        </div>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="panel panel-primary">
        <div class="panel-body">

          <div class="col-md-6">

            <h1 class="text-center text-uppercase">Highlights</h1>
            <hr>
            <!-- Accordion -->
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
              <!-- Accordion Item 1 -->
              <div class="panel panel-primary">
                <div class="panel-heading" role="tab" id="headingOne">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                      Can be accessed from any device
                    </a>
                  </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                  <div class="panel-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                  </div>
                </div>
              </div>
              <!-- Accordion Item 2 -->
              <div class="panel panel-primary">
                <div class="panel-heading" role="tab" id="headingTwo">
                  <h4 class="panel-title">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                      Updates
                    </a>
                  </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                  <div class="panel-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                  </div>
                </div>
              </div>
              <!-- Accordion Item 3 -->
              <div class="panel panel-primary">
                <div class="panel-heading" role="tab" id="headingThree">
                  <h4 class="panel-title">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseTwo">
                      Excellent Support
                    </a>
                  </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                  <div class="panel-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
                  </div>
                </div>
              </div>

            </div>
            <!-- Accordion End -->
          </div>

          <div class="col-md-6 bg-primary">
            <%= render :file => "devise/registrations/new" %>
          </div>

            </div>
          </div>

        </div>
      </div>
    </div>
