<div class="col-sm-3">
  <div class="panel">
    <h3>Information</h3>
    <ul>
      <li>Invite whoever by email.</li>
      <li>Email confirmation is required.</li>
      <li>Green indicates the user has accepted the email confirmation and set a password.</li>
    </ul>

    <h3>Status</h3>
    <ul>
      <li><span class="btn btn-success"></span>  Open</li>
      <li><span class="btn btn-warning"></span>  Pending</li>
      <li><span class="btn btn-danger"></span>  Closed</li>
    </ul>
  </div>
</div>
