<% provide(:title, 'New Progressor Project') %>
<div class="container">
  <div class="row">
    <h1>Add a New Project</h1>
    <p>Give your project a name, description and due date to help you keep track.</p>
  </div>
</div>
<%= render 'form' %>
