/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* Adding Glyphicons icon font - View all Glyphicons here http://getbootstrap.com/components/#glyphicons */
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../assets/glyphicons-halflings-regular.eot');
  src: url('../assets/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
       url('../assets/glyphicons-halflings-regular.woff') format('woff'),
       url('../assets/glyphicons-halflings-regular.ttf') format('truetype'),
       url('../assets/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
}
a, button, select {
   outline: 0 !important;
   text-decoration: none !important;
}
a:hover,
button {
  text-decoration: none !important;
}
.home .authform p { display: none; }
/* Extras */
#flash-messages .alert {
  z-index:9999 !important;
}
.alert {
  position: absolute;
  width: 100%;
  max-width: 1160px;
}

.btn {
  border: none;
  border-radius: 0;
  border-bottom: 2px solid rgba(0,0,0,0.3);
}
.panel {
  padding: 5px;
  background: #F4F4F4;
}

/* Padding Classes as quick helpers */
.no-padding-left, .n-p-l {
  padding-left: 0px !important;
}

.no-padding-right, .n-p-r {
  padding-right: 0px !important;
}


/* Header */
header .btn {
  border: 0;
  border-radius: 0;
  line-height: 30px;
}

/* bxSlider - */
/* Slide 1 */
#slider {
  position: relative;
  z-index: 1;
}

.slide1-action {
  display: block;
  margin: 0 auto !important;
  position: relative;
  width: 200px;
}
#slide1-overlay1 {
  position: relative;
  width:100%;
  max-width: 800px;
  margin-right: auto;
  margin-left: auto;
  margin-top:-650px;
  z-index:9999;
}

#slide1-overlay1 h2 {
  padding: 20px 50px;
  display:inline-block;
  background: rgba(0,188,140,0.8);
}

#slide1-overlay2 {
  position: relative;
  width:100%;
  max-width: 800px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 0px;
  z-index:9999;
}
#slide1-overlay2 h1 {
  color: #00BC8C;
  padding: 20px 50px;
  display:inline-block;
  background: rgba(255,255,255,1);
  margin: 0px 0px 20px 0px;
}
/* Slide 2 */


/* Services Main */
.service-main p, .service-main h2 {
  text-align: center;

}

/* Footer */
.footer-main, .footer-main a {
  color: #F4F4F4;
}
.footer-main h1 {
  border-bottom: 2px solid white;
}

/* Controller and Action Specific - Mainly to hide particular areas for specific views */
body.sessions, body.sessions .authform a {
  color: white;
  background-color: #337AB7;

  /* Action name &.action */
  &.new footer {
    display: none;
  }
}
body.registrations, body.registrations .authform a  {
  color: white;
  background-color: #337AB7;

  /* Action name &.action */
  &.new footer {
    display: none;
  }
}
/*
 * Anything that is ABOVE the queries below will be queried no matter what and
 * will be overwritten by anything of the same ID or Class in the media queries below.
*/
/* Queries for any device less than 1200px width - Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
  .alert {
    max-width: 950px;
  }
}

/* Queries for any device less than 992px width - Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
  .alert {
    max-width: 950px;
  }
}

/* Queries for any device less than 768px width - Small Devices, Tablets */
@media only screen and (max-width : 768px) {

}

/* Queries for any device less than 480px width - Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}

/* Queries for any device less than 320px width - Custom, Iphone Retina */
@media only screen and (max-width : 320px) {

}
