// Place all the styles related to the Tickets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

aside.panel h3, .ticket-body h3 {
  border-bottom: 1px solid #464545;
  padding-bottom: 5px;
  margin-top: 0px;
}
aside.panel ul{
  padding-left: 10px;
}
aside.panel ul li {
  list-style-type: none;
}

.frontend-nav .panel {
  padding: 5px;
  margin-top: 20px;
  border-bottom: 1px solid #515151;
}
.frontend-nav .panel h3 {
  margin: 0;
  line-height: 36px;
}
