// Place all the styles related to the Tickets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.tickets .panel h3 {
  border-bottom: 1px solid #464545;
  padding-bottom: 5px;
  margin-top: 0px;
}
.tickets .panel ul{
  padding-left: 10px;
}
.tickets .panel ul li {
  list-style-type: none;
}
