<% provide(:title, 'Progressor Users') %>
<%= render '/layouts/admin/dashboardnavigation' %>
<div class="container">
  <div class="row">

    <div class="column">
      <table class="table table-striped table-hover">
        <tbody>
          <tr>
            <th>View</th>
            <th>Edit</th>
            <th>Name</th>
            <th>Email Address</th>
            <th>User Role</th>
            <th>Update</th>
            <th>Registered</th>
            <th>Last Login</th>
            <th>Delete</th>
          </tr>
          <% @users.each do |user| %>
            <tr>
              <%= render user %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <%= will_paginate @users %>
  </div>
</div>
