<div class="frontend-nav container">
  <div class="row">

    <header class="panel">
      <h3><%= content_for?(:title) ? content_for(:title) : "Progressor Admin" %>
      <span><%= link_to current_user.email, edit_user_registration_path, :class => 'glyphicon glyphicon-user btn btn-primary btn-sm pull-right', id: 'tooltip-profile', data: {toggle: 'tooltip', placement: 'right'}, :'data-original-title' => 'View Profile' %></span>
      </h3>
    </header>

  </div>
</div>
